@media screen and (max-width: 1109.98px) {
  .footer {
    width: 100%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 40px 0px;
  }
  .footer .card {
    width: 220px !important;
    height: auto !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F6F6F7;
  }
  .footer .card .kat {
    font-size: 18px;
    font-weight: 600;
  }
  .footer .card ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .footer .card ul li a {
    text-decoration: none;
    color: #44424B;
  }
  .footer .card .icons {
    width: 150px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .footer .card .icons a {
    font-size: 20px;
  }
  .footer .card .card1 {
    width: 250px;
    height: auto;
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .card .card1 a {
    font-size: 25px;
    color: #888F;
  }
  .footer .card .card1 .med_text {
    width: 150px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .card .card1 .med_text .mForm {
    font-size: 20px;
    font-weight: 600;
    color: red;
  }
  .footer .card .card1 .med_text .mForm .med {
    color: #111;
  }
  .footer .card .card1 .med_text .ta {
    font-size: 12px;
    margin-top: -15px;
  }
  .MedForma {
    width: 80%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .MedForma .medForm_left {
    width: 300px !important;
    height: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .MedForma .medForm_left .center {
    width: 350px;
    height: auto;
    padding: 10px;
  }
  .MedForma .medForm_left .center .nash {
    font-size: 30px;
    color: #111;
  }
  .MedForma .medForm_left .center .info {
    font-size: 23px;
    color: var(111, #111);
  }
  .MedForma .medForm_left .center .date {
    font-size: 18px;
    color: #878787;
  }
  .MedForma .medForm_left .center .kart {
    width: 238px;
    height: 54px;
    border: 1px solid var(--ea-4953, #EA4953);
    background-color: #fff;
    color: #EA4953;
  }
  .MedForma .medForm_right {
    width: 350px;
    height: auto;
  }
  .MedForma .medForm_right img {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 1025px) {
  .card1 .ca-bot {
    width: 100%;
    background-color: blue;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 55px !important;
  }
}

@media screen and (max-width: 1000px) {
  .ca-bot {
    width: 100%;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 55px !important;
  }
}

@media screen and (max-width: 991.98px) {
  .container {
    width: 1000px !important;
  }
  .MedForma {
    width: 80%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .MedForma .medForm_left {
    width: 100%;
    height: auto;
  }
  .MedForma .medForm_left .center {
    width: 500px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .MedForma .medForm_left .center .nash {
    font-size: 30px;
    color: #111;
  }
  .MedForma .medForm_left .center .info {
    font-size: 23px;
    color: var(111, #111);
  }
  .MedForma .medForm_left .center .date {
    font-size: 18px;
    color: #878787;
  }
  .MedForma .medForm_left .center .kart {
    width: 238px;
    height: 54px;
    border: 1px solid var(--ea-4953, #EA4953);
    background-color: #fff;
    color: #EA4953;
  }
  .MedForma .medForm_right {
    width: 520px;
    height: auto;
  }
  .MedForma .medForm_right img {
    width: 100%;
    height: 400px;
  }
  .carusel .owl-prev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none !important;
  }
  .carusel .owl-next {
    width: 30px;
    height: 30px;
    display: none !important;
  }
  .carusel .owl-nav {
    height: auto !important;
  }
  ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 499.98px) {
  .MedForma {
    width: 80%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .MedForma .medForm_left {
    width: 100%;
    height: auto;
  }
  .MedForma .medForm_left .center {
    width: 500px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .MedForma .medForm_left .center .nash {
    font-size: 20px;
    color: #111;
  }
  .MedForma .medForm_left .center .info {
    font-size: 18px;
    color: var(111, #111);
  }
  .MedForma .medForm_left .center .date {
    font-size: 15px;
    color: #878787;
  }
  .MedForma .medForm_left .center .kart {
    width: 180px !important;
    height: 54px;
    background-color: #fff;
    color: #EA4953;
  }
  .MedForma .medForm_right {
    width: 520px;
    height: auto;
  }
  .MedForma .medForm_right img {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 949.98px) {
  .logos1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .logos1 .logos {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .logos1 .carusel .btn {
    height: auto !important;
  }
}

@media screen and (max-width: 931.98px) {
  .navlink {
    width: 90% !important;
  }
  .navlink ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px !important;
  }
}

@media screen and (max-width: 767.98px) {
  .navbars {
    display: none !important;
  }
  .btn {
    width: 100%;
    height: auto !important;
    position: relative;
  }
  .owl-item {
    width: 500px;
  }
  .owl-nav {
    height: 0px;
    display: none !important;
    padding: 10px;
  }
  .carusel2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    border: none;
  }
  .carusel2 .btn {
    width: 350px;
    margin: auto !important;
    border: none !important;
  }
  .owl-prev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: none !important;
    display: none !important;
  }
  .owl-prev {
    display: none !important;
  }
  .tugma {
    display: block !important;
  }
}

@media screen and (max-width: 660.98) {
  .carusel {
    width: 50%;
  }
  .carusel .btn {
    height: auto !important;
  }
}

@media screen and (max-width: 689.98px) {
  .carusel .btn {
    width: 100%;
    height: auto !important;
    position: relative;
  }
}

@media screen and (max-width: 399.98px) {
  .logos1 {
    padding: 0px;
  }
  .logos1 .texts .med_form {
    font-size: 18px;
  }
  .logos1 .texts .med_form2 {
    font-size: 48px;
  }
  .MedForma {
    width: 80%;
    height: auto;
    margin: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .MedForma .medForm_left {
    width: 100%;
    height: auto;
  }
  .MedForma .medForm_left .center {
    width: 80% !important;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .MedForma .medForm_left .center .nash {
    font-size: 25px !important;
    color: #111;
    text-align: center;
  }
  .MedForma .medForm_left .center .info {
    font-size: 18px !important;
    color: var(111, #111);
  }
  .MedForma .medForm_left .center .date {
    font-size: 15px !important;
    color: #878787;
  }
  .MedForma .medForm_left .center .kart {
    width: 150px !important;
    height: 54px;
    background-color: #fff;
    color: #EA4953;
    font-size: 12px !important;
  }
  .MedForma .medForm_right {
    width: 520px;
    height: auto;
  }
  .MedForma .medForm_right img {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 349.98px) {
  .logos1 {
    padding: 10px 0px !important;
  }
  .logos {
    width: 100% !important;
  }
}
/*# sourceMappingURL=responsev.css.map */